<!DOCTYPE HTML>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
	  <title>{$seo_title}</title>
	  <link href="{STATIC_URL}css/mobile_category.css" rel="stylesheet" type="text/css" /> 
      <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>	  
	  <script type="text/javascript" src="{STATIC_URL}js/mobile_simpler-sidebar.min.js"></script>
	  <meta name="keywords" content="{$keywords}" />
	  <meta name="description" content="{$description}" />
  </head>
  <body>
    <!--网站容器-->
    <div id="container">	
	    {m:include "mobile","header"}			
		<!--主要内容-->	
		<div id="main_article">	
		 <div id="content">
		  <h1>{$title}</h1>
		   <img src="{STATIC_URL}images/about_ad.png" alt="{$title}" title="{$title}" style="margin:10px 0">
		   {$content}	  
		 </div>		 		 
		</div> 	 
		{m:include "mobile","footer"}