		<div id="fanhui">
		  <a href="#top">返回顶部</a>
		</div>
		<!--底部导航-->
		<div id="f_nav">
			<ul>
			<li><a href="{U('guestbook')}">留言板</a></li>
			{loop $nav_data $v}
			<li><a href="{if $v['type']!=2}{$site[site_url]}index.php?m=mobile&c=index&a=lists&catid={$v[catid]}{else}{$v[pclink]}{/if}">{$v[mobname]}</a></li>
			{/loop}				 
			</ul>	 
		</div>
		<!--网站底部-->
		<footer id="footer">
		   手机版 | <a href="{$site[site_url]}">电脑版</a> {$site[site_code]}
		  <p>{$site[site_copyright]}</p>
		  <p>Powered by <a href="http://www.yzmcms.com" target="_blank">YzmCMS</a> © 2014-2018</p>
		  <!-- 为了支持YzmCMS的发展,请您保留YzmCMS内容管理系统的链接信息,谢谢! -->	
		</footer>
    </div>
  </body>
</html>