<header id="header" name="top">
  <a href="javascript:history.go(-1);" id="fh" title="返回上一页"><img src="{STATIC_URL}images/fh.png"></a> 
  <img src="{STATIC_URL}images/menu.png" id="menu" title="菜单选项">
  <h2>{$title}</h2>		 
</header>
<nav class="sidebar" id="nav">
	<ul>
		<li><a href="{U('mobile/index/init')}">网站首页</a></li>
		{m:nav field="mobname,catid,type,pclink" where="parentid=0" limit="20" return="nav_data"}
		{loop $nav_data $v}
		<li><a href="{if $v['type']!=2}{U('mobile/index/lists', array('catid'=>$v['catid']))}{else}{$v[pclink]}{/if}">{$v[mobname]}</a></li>
		{/loop}
	</ul>
</nav>
<script type="text/javascript">
	$(function() {
		$('#nav').simplerSidebar({
			opener: '#menu',
			sidebar: {
				align: 'left',
				width: 250
			}
		});
	});
</script>	