@charset "utf-8";
/* 默认 黑色 */	
/*全站默认字体颜色*/
a{color:#454545}a:hover,a:focus,.maincolor,.maincolor a{color:#06c}

/*顶部导航*/
.navbar{ background:#0a1936}

/*logo 及 用户信息文字颜色*/
.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#fff}
.navbar-logo:hover,.navbar-logo-m:hover{color:#fff;text-decoration: none}
	
/*顶部导航文字颜色*/
.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#fff}
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#fff}

/*侧边栏*/
.navbar,.yzm-menubox {background:#0a1936}
.Hui-aside {background:#000c17;color:rgba(255,255,255,.7);padding-top:0px;}
.Hui-aside .menu_dropdown dt {color:#abb1b7;line-height:45px;border-bottom:none;background:#0a1936;width:218px;box-sizing:border-box;transition:all 0.3s}
.Hui-aside .menu_dropdown dt:hover {color:#fff;background:#000c17}
.Hui-aside .menu_dropdown dt.selected:hover{color:#fff;background:#0a1936}
.Hui-aside .menu_dropdown dd ul {padding:3px 0px}
.Hui-aside .menu_dropdown dd li a {line-height:40px;}
.Hui-aside .menu_dropdown li a {color:#abb1b7;transition:all .1s ease 0s;padding-left:5px}
.Hui-aside .menu_dropdown li a:hover {background:#1c4e80;color:#fff;}
.Hui-aside .menu_dropdown li .current a,.menu_dropdown li.current a:hover {color:#fff;}
.Hui-aside .menu_dropdown li .curmenu,.Hui-aside .menu_dropdown li .curmenu:hover {background:#1890ff;color:#fff;}
.Hui-aside .menu_dropdown dt .yzm-iconfont {color:rgba(255,255,255,.8);margin-right:5px}
.Hui-aside .menu_dropdown dt .menu_dropdown-arrow {color:rgba(255,255,255,.8);transition:all .1s ease 0s;right:33px;}
.dislpayArrow a {background:url(icon_arrow.png) no-repeat 0 0}