@font-face{font-family: "yzm-iconfont";/* Project id 1712616*/src: url('iconfont.woff2?t=1635944921337') format('woff2'), url('iconfont.woff?t=1635944921337') format('woff'), url('iconfont.ttf?t=1635944921337') format('truetype');}
.yzm-iconfont{font-family: "yzm-iconfont" !important;font-size: 16px;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.yzm-iconxinicon_huabanfuben:before{content: "\e64a";}
.yzm-iconshousuojiahao:before{content: "\e652";}
.yzm-iconshousuojianhao:before{content: "\e653";}
.yzm-iconjinyong:before{content: "\e601";}
.yzm-iconqiyong:before{content: "\e81f";}
.yzm-iconintegral:before{content: "\e60e";}
.yzm-iconfensi:before{content: "\e688";}
.yzm-iconyue1:before{content: "\e646";}
.yzm-iconai-home:before{content: "\e60d";}
.yzm-iconjingyanzhi:before{content: "\e60c";}
.yzm-iconhuiyuandengji:before{content: "\e634";}
.yzm-iconbianji:before{content: "\e628";}
.yzm-iconxiaoxi:before{content: "\e617";}
.yzm-iconweibiaoti5:before{content: "\e63d";}
.yzm-iconfinance:before{content: "\e61c";}
.yzm-iconneirongguanli:before{content: "\e603";}
.yzm-iconguanzhu:before{content: "\e604";}