<?php include $this->admin_tpl('meta', 'admin');?>
<title>会员统计 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 会员统计 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container">
	<div id="main" style="min-width:700px;height:400px"></div>
</article>
<script type="text/javascript" src="<?php echo STATIC_URL;?>plugin/echarts/3.6.1/echarts.common.min.js"></script>
<script type="text/javascript">
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('main'));

	// 指定图表的配置项和数据
	var option = {
		title: {
			text: '全部注册会员统计'
		},
		color: ['#3398DB'],
		tooltip: {},
		legend: {
			data:['新增人数']
		},
		xAxis: {
			data: ["总计","最近一月","最近一周","昨日[0~24时]","今日新增"]
		},
		yAxis: {},
		series: [{
			name: '新增人数',
			type: 'bar', //bar:柱状图,line:折线图
			barWidth: '15%',
            label: {
                normal: {
                    show: false, //是否显示数字
                    position: 'insideTop'
                }
            },
			data: [<?php echo $total.','.$month_total.','.$week_total.','.$yesterday_total.','.$today_total?>]
		}]
	};

	// 使用刚指定的配置项和数据显示图表。
	myChart.setOption(option);
</script>
</body>
</html>