<script type="text/javascript" src="<?php echo STATIC_URL;?>plugin/jquery/1.8.2/jquery.min.js"></script> 
<script type="text/javascript" src="<?php echo STATIC_URL;?>plugin/layer/layer.js"></script>
<script type="text/javascript" src="<?php echo STATIC_URL;?>admin/yzm_base/js/H-ui.js"></script>
<script type="text/javascript" src="<?php echo STATIC_URL;?>admin/yzm_admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="<?php echo STATIC_URL;?>js/yzm_common.js?v=<?php echo YZMCMS_VERSION;?>"></script> 
<script>$(".table").wrap('<div class="yzm-table-box"></div>');yzm_auto_tips()</script>