<?php include $this->admin_tpl('meta');?>
<title>菜单管理 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 菜单管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<!-- <div class="cl pd-5 bg-1 bk-gray"> <span class="l"><a href="javascript:;" onclick="yzm_open('添加菜单','<?php echo U('add', array('type'=>0));?>',800,500)" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加菜单</a></span></div> -->
	<form action="<?php echo U('order');?>" method="post">
	<table class="table table-border table-bordered table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="50">排序</th>
				<th width="40">菜单ID</th>
				<th class="text-l">菜单名称</th>
				<th width="60">状态</th>
				<th width="155">管理操作</th>
			</tr>
		</thead>
		<tbody>
			 <?php echo $menus;?>
		</tbody>
	</table>
	<div class="cl pd-5 bg-1 bk-gray"> <span class="l"><input class="orderbutton btn-primary radius" name="dosubmit" value="排序" type="submit"></span></div>
	</form>
</div>
<?php include $this->admin_tpl('footer');?>
</body>
</html>