<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="<?php echo STATIC_URL;?>plugin/html5.js"></script>
<script type="text/javascript" src="<?php echo STATIC_URL;?>plugin/respond.min.js"></script>
<script type="text/javascript" src="<?php echo STATIC_URL;?>plugin/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="<?php echo STATIC_URL;?>admin/yzm_base/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="<?php echo STATIC_URL;?>admin/yzm_admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="<?php echo STATIC_URL;?>admin/yzm_admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="<?php echo STATIC_URL;?>iconfont/iconfont.css?v=<?php echo YZMCMS_VERSION;?>" />
<link rel="stylesheet" type="text/css" href="<?php echo STATIC_URL;?>admin/yzm_admin/css/yzm.admin.style.css?v=<?php echo YZMCMS_VERSION;?>" />
<!--[if IE 6]>
<script type="text/javascript" src="<?php echo STATIC_URL;?>plugin/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<script type="text/javascript">
	var yzm_admin_url = '<?php echo SITE_URL?>';
	<?php if(isset($_SESSION['yzm_csrf_token'])) { ?>
	var yzm_csrf_token = '<?php echo $_SESSION['yzm_csrf_token'];?>';
	window.onload = function() {
		var html_form = document.forms;
		var num = html_form.length;
		for (var i = 0; i < num; i++) {
			var newNode = document.createElement("input");
			newNode.name = 'yzm_csrf_token';
			newNode.type = 'hidden';
			newNode.value = yzm_csrf_token;
			html_form[i].appendChild(newNode);
		}
	}
	<?php } ?>
</script>