<?php include $this->admin_tpl('meta');?>
<title>模块安装 - YzmCMS内容管理系统</title>
</head>
<body>
<article class="page-container pad_bot_0">
<div class="formdoby_normal"> 
	<form method="post">
		<ul>
			 <li><label>模块名称：</label><?php echo $name?></li>
			 <li><label>模块简介：</label><?php echo $description?></li>
			 <li><label>作者：</label><?php echo $author?></li>
			 <li><label>作者邮箱：</label><?php echo $authoremail?></li>
			 <li><label>作者主页：</label><?php echo $authorsite?></li>
			 <li style="margin-top:30px;margin-bottom:0px;padding:0;text-align:right;">
			 <input class="btn btn-primary radius" type="submit" name="dosubmit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">&nbsp;&nbsp;<input class="btn btn-default radius" onclick="myclose()" value="&nbsp;&nbsp;取消&nbsp;&nbsp;" type="button"></li>
		</ul>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer');?>
<script type="text/javascript">
function myclose(){
	var index = parent.layer.getFrameIndex(window.name); 
	parent.layer.close(index); 
}
</script>
</body>
</html>