<?php include $this->admin_tpl('meta');?>
<title>模块安装 - YzmCMS内容管理系统</title>
</head>
<body>
<article class="page-container pad_bot_0">
<div class="formdoby_normal"> 
	<form method="post" onsubmit="return dosub(this)">
		<ul>
			 <li><label>模块名称：</label><?php echo $name ?>（<?php echo $version?>）</li>
			 <li><label>更新时间：</label><?php echo $updatedate ?></li>
			 <li><label>模块简介：</label><?php echo $description ? $description : '暂无' ?></li>
			 <li><label>作者：</label><?php echo $author ? $author : '暂无' ?></li>
			 <li><label>作者邮箱：</label><?php echo $authoremail ? $authoremail : '暂无' ?></li>
			 <li><label>作者主页：</label><a href="<?php echo $authorsite?>" target="_blank"><?php echo $authorsite?></a></li>
			 <li style="margin-top:30px;margin-bottom:0px;padding:0;text-align:right;">
			     <input type="hidden" name="module" value="<?php echo $module?>">
				 <input class="btn btn-primary radius" type="submit" name="dosubmit" value="&nbsp;&nbsp;安装&nbsp;&nbsp;">&nbsp;&nbsp;
				 <input class="btn btn-default radius" onclick="yzmcms_close()" value="&nbsp;&nbsp;取消&nbsp;&nbsp;" type="button">
			 </li>
		</ul>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer');?>
<script type="text/javascript">
	function dosub(obj){
		layer.msg('正在安装中……', { icon: 16, shade: 0.21, time:false });
		$.ajax({
		 type: 'POST',
		 url: '<?php echo U(ROUTE_A);?>', 
		 data: $(obj).serialize(),
		 dataType: "json", 
		 success: function (msg) {
			if(msg.status == 1){
				layer.msg(msg.message, {
					icon: 1,
					time: 2000
				}, function(){
				  	parent.location.reload();
				}); 
		    }else{
				layer.alert(msg.message, {icon:2,title:'操作提示'});
			}
		 }
		})

		return false;			 
	}
</script> 
</body>
</html>