<?php include $this->admin_tpl('meta', 'admin');?>
<title>单页内容 - YzmCMS内容管理系统</title>
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_URL;?>plugin/ueditor/1.4.3.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_URL;?>plugin/ueditor/1.4.3.3/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_URL;?>plugin/ueditor/1.4.3.3/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 栏目管理 <span class="c-gray en">&gt;</span> 单页内容 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container pad_bot_0">
<div class="formdoby formdoby2"> 
	<form method="post" onsubmit="return dosub(this)">
		<ul>
			 <li><label><span class="c-red">*</span>标题：</label><input type="text" class="input" name="title" value="<?php echo $data['title'];?>"></li>
			 <li><label>栏目关键字：</label><input type="text" class="input" name="keywords" value="<?php echo $data['keywords'];?>"></li>
			 <li><label>栏目描述：</label><span class="span_input"><textarea name="description" class="textarea"><?php echo $data['description'];?></textarea></span></li>			
			 <li><label>内容：</label><span class="span_input"><?php echo form::editor_mini('content', $data['content']);?></span></li>			
			 <li><input type="hidden" name="catid" value="<?php echo $data['catid'];?>"><input type="hidden" name="dosubmit" value="1">
			 <input class="dosubmit m_left_21 btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"></li>
		</ul>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer', 'admin');?>
<script type="text/javascript">
	function dosub(obj){
		 if(obj.title.value==''){
			 layer.msg('标题不能为空！');
			 return false;
		 }			 
	}
</script> 

</body>
</html>