<?php include $this->admin_tpl('meta');?>
<title>修改个人信息 - YzmCMS内容管理系统</title>
</head>
<body>
<article class="page-container">
<div class="formdoby_normal"> 
	<form method="post" onsubmit="return dosub(this)">
		<ul>
			 <li><label>用户名：</label><?php echo $data['adminname'];?></li>
			 <li><label>所属角色：</label><?php echo $data['rolename'];?></li>
			 <li><label>最后登录IP：</label><?php echo $data['loginip'];?></li>
			 <li><label>最后登录时间：</label><?php echo date('Y-m-d H:i:s',$data['logintime']);?></li>
			 <li><label>昵称：</label><input type="text" class="input" placeholder="发布内容时显示" name="nickname" value="<?php echo $data['nickname'];?>"></li>
			 <li><label>邮箱：</label><input type="text" class="input" placeholder="邮箱" name="email" value="<?php echo $data['email'];?>"></li>
			 <li><label>真实姓名：</label><input type="text" class="input" placeholder="真实姓名" name="realname" value="<?php echo $data['realname'];?>"></li>
			 <input type="hidden" name="dosubmit" value="1">
			 <li>
			 	<input class="dosubmit w_120 btn-primary radius" name="dosubmit" type="submit" value="提交">
			 	<input class="btn w_120 btn-default radius h35" type="button" value="取消" onclick="yzmcms_close()">
			 </li>
		</ul>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer');?> 
<script type="text/javascript">
	function dosub(obj){
		 if($("input[name='nickname']").val() == ''){
			 layer.msg('用户昵称不能为空！');
			 return false;
		 }

		$.ajax({
		 type: 'POST',
		 url: '<?php echo U('public_edit_info');?>', 
		 data: $(obj).serialize(),
		 dataType: "json", 
		 success: function (msg) {
			if(msg.status == 1){
				layer.msg(msg.message, {time:2000});
		    }else{
				layer.msg(msg.message);
			}
		 }
		})

		 return false;			 
	}
</script> 
</body>
</html>