<div style="border:1px solid #dcdcdc;color:#676767;width:600px;margin:0 auto;">
    <div style="height:60px;background:#64a1d2;line-height:60px;color:#fff;font-size:18px;padding-left:10px;text-align:center;">{site_name} - 邮箱验证</div>
    <div style="padding:25px">
        <div>
        	<p>您正在注册“{site_name}”会员，请点击如下链接进行邮箱验证：</p>
        	<p><a href="{url}" target="_blank" style="word-break:break-all">{url}</a>，验证有效期为30分钟！</p>
        </div>
        <p style="margin-top:10px">如非本人操作，请忽略！</p>
    </div>
    <div style="background:#efefef;color:#acabab;text-align:center;line-height:45px;height:45px;">系统邮件，请勿直接回复</div>
</div>