{m:include "member","header"} 
<div class="yzm_member_container main">
{m:include "member","left"} 
  <div class="main_right">
	<div class="tit"><h3>发件箱</h3></div>
	<div class="main_cont">
	  <form method="post" action="{U('outbox_del')}">
		<table class="tablelist">
			<thead>
			<tr>
			<th width="5%"><input type="checkbox"   onclick="cz(this)"/></th>
			<th width="45%">标题</th>
			<th width="15%">收件人</th>
			<th width="15%">收件人已读</th>
			<th width="20%">发送时间</th>
			</tr>
			</thead>
			<tbody>
			{loop $data $val}		
			<tr>
			<td><input name="fx[]" type="checkbox" value="{$val['messageid']}" /></td>
			<td><a href="{U('read_my_message', array('messageid' => $val['messageid']))}">{str_cut($val['subject'], 60)}</a></td>
			<td>{$val['send_to']}</td>
			<td>{if $val['isread']}已读{else}<span style='color:red;'>未读</span>{/if}</td>
			<td>{date('Y-m-d H:i:s',$val['message_time'])}</td>
			</tr> 
			{/loop}			
		   	<tr class="tablast">
			 <td></td><td colspan="4"><input type="submit" class="submit btn-danger"  value="删除选中" onclick="return confirm('你确定要删除所选内容吗？')" name="dosubmit"></td>
			</tr>
			</tbody>
		</table>
	  </form>
		<div id="page">{$pages}</div>		  
	</div>
  </div>		  
</div>
<script type="text/javascript">
var fx=document.getElementsByName("fx[]");
function cz(obj){
for(var i=0;i<fx.length;i++){
	  fx[i].checked=obj.checked;
	}
}
</script> 
{m:include "member","footer"} 