<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>会员注册{get_seo_suffix()}</title>
    <meta name="author" content="YzmCMS内容管理系统/QQ:214243830">
    <meta name="description" content="yzmcms会员注册" />
    <link href="{STATIC_URL}css/yzm-member-login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{STATIC_URL}plugin/layer/layer.js"></script>
    <script type="text/javascript" src="{STATIC_URL}js/yzm-member.js"></script>
</head>

<body>
    <div class="yzm-member-container yzm-register">
        <div class="yzm-title">会员注册</div>
        <div class="yzm-form">
            <form action="" method="post" onsubmit="return check_register(this, '{U('member/index/register')}')">
                <ul>
                    <li><input type="text" class="input" name="username" placeholder="请输入用户名" value=""></li>
                    <li><input type="text" class="input" name="email" placeholder="请输入电子邮箱" value=""></li>
                    <li><input type="password" class="input" name="password" placeholder="请输入密码" value=""></li>
                    <li><input type="password" class="input" name="password2" placeholder="请输入确认密码" value=""></li>
                    <li><input type="text" class="input code" name="code" placeholder="请输入验证码"><img src="{U('api/index/code')}" onclick="this.src=this.src+'?'" id="codeimg" class="codeimg" title="看不清，换一张"></li>
                    <li><input type="submit" class="submit" name="dosubmit" value="同意以下协议并注册"></li>
                    <li class="last_li"><input type="checkbox" checked="checked" value="1" id="agree" name="agree" /> <a onclick="show_protocol()" href="javascript:void(0);">点击阅读注册协议</a></li>
                </ul>
                <div class="yzmcms_bottom">已有账号？<a href="{U('login')}">点击登录</a>&nbsp;&nbsp;&nbsp; <a href="{U('member/reset/init')}" target="_blank" style="color:#959595;float:right">忘记密码？</a></div>
            </form>
        </div>
    </div>

    <!-- 会员注册协议 -->
    <div id="register_protocol" style="margin:15px 20px;display:none">
        <p>1、在本站注册的会员，必须遵守《互联网电子公告服务管理规定》，不得在本站发表诽谤他人，侵犯他人隐私，侵犯他人知识产权，传播病毒，政治言论，商业讯息等信息。</p><br>
        <p>2、在所有在本站发表的文章，本站都具有最终编辑权，并且保留用于印刷或向第三方发表的权利，如果你的资料不齐全，我们将有权不作任何通知使用你在本站发布的作品。</p><br>
        <p>3、在登记过程中，您将选择注册名和密码。注册名的选择应遵守法律法规及社会公德。您必须对您的密码保密，您将对您注册名和密码下发生的所有活动承担责任。</p>
    </div>

    <div class="clearfix"></div>
    <div class="yzm_footer">
        <div class="container">
            <p>Powered by <a href="http://www.yzmcms.com" target="_blank">{YZMCMS_SOFTNAME}</a> © 2014-{date('Y')} 版权所有</p>
        </div>
    </div>

</body>

</html>