<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>会员中心-选择密码找回方式</title>
    <meta name="author" content="YzmCMS内容管理系统/QQ:214243830">
    <meta name="description" content="yzmcms,找回密码,选择密码找回方式" />
    <link href="{STATIC_URL}css/yzm-member-reset.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="w1">
        <div class="w880 head">
            <div class="right"><a href="{SITE_URL}">回到首页</a></div>
            <a href="{U('member/index/register')}" class="current">注册</a> 欢迎登录
        </div>
    </div>
    <div class="main">
        <h1>请选择密码找回方式</h1>
        <div class="main_left">
            <div class="reset_type">
                <span>1.</span>通过电子邮箱找回密码
                <a href="{U('reset_email')}">立即找回</a>
            </div>
            <div class="reset_type">
                <span>2.</span>通过安全问题找回密码
                <a href="{U('reset_problem')}">立即找回</a>
            </div>
        </div>
        <div class="main_right">
            <p>已经有了账号？</p>
            <p>请直接登录</p>
            <br>
            <p><a href="{U('member/index/login')}" class="button">登录</a></p>
        </div>
    </div>
    <div class="footer">
        <p>Powered by <a href="http://www.yzmcms.com" target="_blank">{YZMCMS_SOFTNAME}</a> © 2014-{date('Y')} 版权所有</p>
    </div>
</body>

</html>