<?php include $this->admin_tpl('meta', 'admin');?>
<title>自定义表单信息预览 - YzmCMS内容管理系统</title>
</head>
<body>
<article class="page-container">
<div class="formdoby_normal"> 
	<table class="table table-border table-bordered table-bg table-hover table-sort">
		<thead>
			<tr>
				<th width="15%">字段名称</th>
				<th align="left">内容</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			foreach($model_data as $val){
			    echo '<tr><td>'.$val['name'].':</td><td>'.$data[$val['field']].'</td></tr>';
			}
			?>
		</tbody>
	</table>
</div>

<div style="position:fixed;bottom:20px;right:10px;z-index:99;"><input type="button" class="btn btn-primary radius w_120" onclick="myclose()" value="确定"></div>
</article>
<?php include $this->admin_tpl('footer', 'admin');?>
<script type="text/javascript">
	function myclose(){
		var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
	}
</script> 

</body>
</html>