<?php include $this->admin_tpl('meta', 'admin');?>
<title><?php echo L('link');?> - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 模块管理 <span class="c-gray en">&gt;</span> <?php echo L('link');?> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
  <div class="cl pd-5 bg-1 bk-gray"> 
	  <span class="l">
	  <a href="javascript:;" onclick="mydel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>  
	  <a class="btn btn-primary radius" onclick="yzm_open('<?php echo L('add_link');?>','<?php echo U('add');?>','750','520')"  href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> <?php echo L('add_link');?></a>
	  </span> 
	  <span class="r">共有数据：<strong><?php echo $total?></strong> 条</span> 
  </div>
  <form method="post" action="<?php echo U('order');?>" id="myform">
  <table class="table table-border table-bordered table-bg table-hover yzm-table-sort">
    <thead>
      <tr class="text-c">
		<th width="25"><input type="checkbox"></th>
		<th>排序<?php echo field_order('listorder');?></th>
		<th>网站名称</th>
		<th>网站地址</th>
		<th>网站logo</th>
		<th>站长姓名</th>
		<th>链接分类<?php echo field_order('typeid');?></th>
		<th>链接类型<?php echo field_order('linktype');?></th>
		<th>添加时间<?php echo field_order('addtime');?></th>
		<th>状态<?php echo field_order('status');?></th>
		<th>管理操作</th>
      </tr>
    </thead>
    <tbody>
		<?php 
		foreach($data as $val){
		?>
		  <tr class="text-c">
			<td><input type="checkbox" value="<?php echo $val['id']?>" name="id[]"></td>
			<td><input type="text" class="input-text listorder" name="listorder[]" value="<?php echo $val['listorder']?>"><input type="hidden" name="order_id[]" value="<?php echo $val['id']?>"></td>
			<td><a href="<?php echo $val['url']?>" target="_blank"><?php echo $val['name']?></a></td>
			<td><a href="<?php echo $val['url']?>" target="_blank"><?php echo $val['url']?></a></td>
			<td><?php if(!$val['logo']){ echo '无图片'; } else {
			echo $val['status']==1 ? '<img src="'.$val['logo'].'" style="height:32px;width:90px">' : $val['logo'];}
			?></td>
			<td><?php echo $val['username']?></td>
			<td><?php if($val['typeid'] ==0 ) echo '默认'; else if($val['typeid'] ==1 ) echo '首页'; else if($val['typeid'] ==2 ) echo '列表页'; else if($val['typeid'] ==3 ) echo '内容页';?></td>
			<td><?php echo $val['linktype'] ? '图片链接' : '文字链接';?></td>
			<td><?php echo date('Y-m-d H:i:s', $val['addtime'])?></td>
			<td><?php echo $val['status']==1 ? '正常' : '<a href="javascript:;" onclick="adopt(\''.U('adopt',array('id'=>$val['id'])).'\')" style="color:red">审核</a>';?></td>
			<td><a title="编辑" href="javascript:;" onclick="yzm_open('<?php echo L('edit_link');?>','<?php echo U('edit',array('id'=>$val['id']));?>','750','520')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="yzm_del('<?php echo U('del_one',array('id'=>$val['id']));?>')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
		  </tr>		
		<?php 
		}
		?>
    </tbody>
  </table>
  <div class="cl pd-5 bg-1 bk-gray"> <span class="l"><input class="orderbutton btn-primary radius" onclick="mylistorder()" value="排序" type="button"></span></div>
  </form>
  <div id="page"><span class="page_left">共<?php echo $total?>条记录，共<?php echo $page->total()?>页，当前显示第<?php echo $page->getpage()?>页</span>
  <span class="page_right"><?php echo $page->getfull();?></span></div>
</div>
<script type="text/javascript">

//审核
function adopt(url){
	layer.confirm('确认要通过审核吗？',function(index){
		window.location.href = url;
	});	
}


//删除
function mydel(){
	if ($("input[name='id[]']:checked").length<1){
	   layer.alert('请勾选信息！');
	   return false;
	}	
	
	layer.confirm('确认要删除吗？',function(index){
		document.getElementById('myform').action='<?php echo U('del');?>';
		document.getElementById('myform').submit();
	});	
	
}

//排序
function mylistorder(){	
	document.getElementById('myform').action='<?php echo U('order');?>';
	document.getElementById('myform').submit();
}
</script>
<?php include $this->admin_tpl('footer', 'admin');?>
</body>
</html>