<!--网站头部-->
<div class="yzm-header-box">
	<div class="yzm-header-top">
		<div class="yzm-member-status">
		{if intval(get_cookie('_userid'))==0}
		<a href="{U('member/index/register')}" target="_blank">注册</a> 
		<a href="{url_referer(1)}"  target="_blank" class="login">登录</a>
		{else}
		你好：{safe_replace(get_cookie('_username'))}，<a href="{U('member/index/init')}">会员中心</a> <a href="{url_referer(0)}">退出</a>
		{/if}
		</div>
		<div class="topleft">
			轻量级开源内容管理系统：<a href="https://www.yzmcms.com" target="_blank">YzmCMS官方网站</a>
		</div>
	</div>
</div>
<div class="yzm-container-box">
	<div class="yzm-header">
		<div class="yzm-logo">
		 <!-- 调用站点Logo标签，请用：{$site[site_logo]} -->
		 <a href="{SITE_URL}"><img src="{STATIC_URL}images/yzm_logo.png" title="{$site[site_name]}" alt="{$site[site_name]}">YzmCMS内容管理系统</a>
		</div>
		<div class="yzm-search">
		<form method="get" action="{U('search/index/init')}" target="_blank">
			<div id="searchtxt" class="searchtxt">
				<div class="searchmenu">	
					<div class="searchselected" id="searchselected">全站</div>	
					<div class="searchtab" id="searchtab">
						<ul>
							<li data="0">全站</li>
							<li data="1">文章</li>
							<li data="2">产品</li>
							<li data="3">下载</li>
						</ul>
					</div>
				</div>
				<input type="hidden" name="modelid" value="0" id="modelid" />
				<input name="q" type="text" placeholder="输入关键字"/>
			</div>
			<div class="searchbtn">
				<button id="searchbtn" type="submit">搜索</button>
			</div>
		</form>
	    </div>
		<div class="yzm-add-content"><a href="{U('member/member_content/init')}" target="_blank">发布内容</a></div>
	</div>

	<!--网站导航-->
	<div class="yzm-menu">
	  <ul class="yzm-nav">
		 <li><a {if !isset($catid)} class="current" {/if} href="{SITE_URL}">首页</a></li>
		{m:nav field="catid,catname,arrchildid,pclink,target" where="parentid=0" limit="20"}
		{loop $data $v}
		    <li>
				<a {if isset($catid) && in_array($catid, explode(',', $v['arrchildid']))} class="current" {/if} href="{$v[pclink]}" target="{$v[target]}">{$v[catname]}</a>
				<!-- 这里是二级栏目的循环，不需要的可以删除，代码开始 -->
				{if is_childid($v)} 
				{php $r = get_childcat($v['catid']);}
				<ul class="sub_nav">
					{loop $r $v}
					<li><a href="{$v[pclink]}" target="{$v[target]}">{$v[catname]}</a></li>
					{/loop}	
				</ul>
				{/if}
				<!-- 这里是二级栏目的循环，不需要的可以删除，代码结束 -->
			</li>		
		{/loop}	
	  </ul>
	</div>
</div>

<!--网站容器-->
<div class="yzm-container">