<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>{$seo_title}</title>
	  <meta name="author" content="YzmCMS内容管理系统">
	  <meta name="keywords" content="{$keywords}" />
	  <meta name="description" content="{$description}" />
	  <link rel="stylesheet" type="text/css" href="{STATIC_URL}plugin/swiper/css/swiper.min.css" />
	  <link href="{STATIC_URL}css/yzm-common.css" rel="stylesheet" type="text/css" />
	  <link href="{STATIC_URL}css/yzm-style.css" rel="stylesheet" type="text/css" />
	  <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}js/yzm-front.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}plugin/swiper/js/swiper.min.js"></script>
	  <meta http-equiv="mobile-agent" content="format=xhtml;url={$site[site_url]}index.php?m=mobile">
      <script type="text/javascript">
      	if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="{$site[site_url]}index.php?m=mobile";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}
      </script>
  </head>
  <body>
	   {m:include "index","header"} 
		<div class="box">
			<!-- 轮播图 开始 -->
			<!-- 
				这里并没有调用后台自带的轮播图，如有需要调用后台轮播图请查看教程，
				https://www.yzmcms.com/dongtai/130.html
			-->
			<div class="swiper-container yzm-banner">
				 <div class="swiper-wrapper">
				      <div class="swiper-slide">
				      	<a href="https://www.yzmcms.com" target="_blank">
				      		<img src="{STATIC_URL}images/banner1.png" alt="YzmCMS内容管理系统" title="YzmCMS内容管理系统" />
				      	</a>
				      </div>
				      <div class="swiper-slide">
				      	<a href="https://www.yzmcms.com/xiazai/" target="_blank">
				      		<img src="{STATIC_URL}images/banner2.png" alt="YzmCMS内容管理系统" title="YzmCMS内容管理系统" />
				      	</a>
				      </div>	
				 </div>
				 <div class="swiper-pagination"></div>
				 <div class="yzm-button-next"></div>
				 <div class="yzm-button-prev"></div>

			</div>	
			<!-- 轮播图 结束 -->

			<div class="yzm-content-box yzm-top-right">
				<div class="yzm-title">
					<h2>最近更新</h2>
				</div>
				<ul class="yzm-ranking">
					<!-- 此处为功能演示，调取全站(不限模型)最近更新内容，加 allsite="1" 属性，即可调用分站内容 -->
					{m:all field="title,url,inputtime" limit="10"}
					{loop $data $k=>$v}
					{php $k=$k+1;}
					   <li><em>{$k}</em><span class="date">{date('m-d',$v['inputtime'])}</span><a href="{$v[url]}" title="{$v[title]}" target="_blank">{$v[title]}</a></li>	
					{/loop}	
				</ul>
			</div>
			
			<div class="yzm-line"></div>
			<div class="yzm-content-box yzm-text-thumbs">
				<div class="yzm-title">
					<h2>推荐文章</h2> 
				</div>
				<!-- 此处仅为功能演示，不分栏目，调取模型ID(modelid)为1的推荐文章 -->
				{m:lists field="title,description,url,color,thumb" modelid="1" flag="4" limit="4"}
				{loop $data $v}
					<div class="yzm-text-thumb">
						<a href="{$v[url]}" class="yzm-text-thumbl">
							<img src="{get_thumb($v['thumb'])}" alt="{$v[title]}" title="{$v[title]}" />
						</a>
						<div class="yzm-text-thumbr">
							<a href="{$v[url]}">{title_color($v['title'], $v['color'])}</a>
							<p>{$v[description]}</p>
						</div>
					</div>
				{/loop}	
			</div>

			<div class="yzm-line"></div>
			<div class="yzm-content-box yzm-text-list yzm-index-50">
				<div class="yzm-title">
					<h2>{get_catname(1)}</h2>
				</div>
			    <ul>
			    <!-- 此处仅为功能演示，调用栏目ID为1的内容 -->
				{m:lists field="title,updatetime,url,color" catid="1" limit="10"}
				{loop $data $v}
				   <li>
				   	<span class="yzm-date">{date('Y-m-d', $v['updatetime'])}</span>
				   	<a href="{$v[url]}" title="{$v[title]}" target="_blank">{title_color($v['title'], $v['color'])}</a>
				   </li>		
				{/loop}						
				</ul>
			</div>	
			<div class="yzm-content-box yzm-text-list yzm-index-50">
				<div class="yzm-title">
					<h2>{get_catname(2)}</h2>
				</div>
			    <ul>
			    <!-- 此处仅为功能演示，调用栏目ID为2的内容 -->
				{m:lists field="title,updatetime,url,color" catid="2" limit="10"}
				{loop $data $v}
				   <li>
				   	<span class="yzm-date">{date('Y-m-d', $v['updatetime'])}</span>
				   	<a href="{$v[url]}" title="{$v[title]}" target="_blank">{title_color($v['title'], $v['color'])}</a>
				   </li>		
				{/loop}						
				</ul>
			</div>	
			<div class="yzm-line"></div>
			<div class="yzm-advertise">
				<!-- 自定义广告位：更改这里，请登录后台->模块管理->广告管理 -->
				{adver(1)}
			</div>
			<div class="yzm-line"></div>
			<div class="yzm-content-box yzm-img-list">
				<div class="yzm-title">
					<h2>图文资讯</h2>
				</div>
			    <ul>
			    <!-- 此处仅为功能演示，调用模型ID为1且有缩略图的内容 -->
				{m:lists field="title,thumb,url,color" modelid="1" thumb="1" limit="8"}
				{loop $data $v}
				   <li>
				   	<a href="{$v[url]}">
				   		<i><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}" title="{$v[title]}"></i>
				   		<p>{$v[title]}</p>
				   	</a>
				   </li>		
				{/loop}						
				</ul>
			</div>	

			<div class="yzm-line"></div>
			<div class="yzm-content-box yzm-tag">
				<div class="yzm-title">
					<h2>热门标签</h2>
				</div>
			    <ul>
				{m:tag field="id,tag,total" limit="27"}
				{loop $data $v}
				   <li><a href="{tag_url($v['id'])}" target="_blank">{$v[tag]}({$v[total]})</a></li>	
				{/loop}						
				</ul>
			</div>			  		  
			<div class="yzm-line"></div>
			<div class="yzm-content-box yzm-link">
				<div class="yzm-title">
					<h2>友情链接</h2>
					<span class="yzm-title-right"><a href="{U('link/index/init')}">>>申请友链</a></span>
				</div>
			    <ul>
			    <!-- 为了YzmCMS的长久发展，请保留YzmCMS官方友情链接 -->
				{m:link field="url,logo,name" limit="20"}
				{loop $data $v}
				   <li><a href="{$v[url]}" target="_blank">{$v[name]}</a></li>	
				{/loop}						
				</ul>
			</div>			  
		</div>

		<script type="text/javascript">
			var swiper = new Swiper('.swiper-container', {
				loop : true,
				centeredSlides: true,
				autoplay: {
					delay: 3500,
					disableOnInteraction: false
				},
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				},
				navigation: {
					nextEl: '.yzm-button-next',
					prevEl: '.yzm-button-prev',
				},
			});
		</script>
		
		{m:include "index","footer"}