<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>{$seo_title}</title>
	  <link href="{STATIC_URL}css/default_common.css" rel="stylesheet" type="text/css" />
	  <link href="{STATIC_URL}css/default_index.css" rel="stylesheet" type="text/css" />
	  <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}js/js.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}js/koala.min.1.5.js"></script> <!-- 焦点图js -->
	  <meta name="keywords" content="{$keywords}" />
	  <meta name="description" content="{$description}" />
	  <meta http-equiv="mobile-agent" content="format=xhtml;url={$site[site_url]}index.php?m=mobile">
      <script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="{$site[site_url]}index.php?m=mobile";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>
  </head>
  <body>
	   {m:include "index","header"} 
		<div class="box">
		  <div class="left">
		  <!-- 焦点图 开始 -->
			<div id="jiaodian" class="focus">  
				<div id="fpic" class="fpic">
				  {m:lists field="title,thumb,url" modelid="1" thumb="1" limit="3"}
				  {php $total = count($data);}
				  {loop $data $v}
				    <div class="fcon" style="display: none;">
						<a target="_blank" href="{$v[url]}"><img src="{$v[thumb]}" style="opacity: 1;" title="{$v[title]}"></a>
						<span class="shadow"><a target="_blank" href="{$v[url]}" title="{$v[title]}">{str_cut($v['title'], 48)}</a></span>
					</div>
				  {/loop}					  
				</div>
				<div class="fbg">  
				<div class="d1fbt" id="d1fbt"> 
					{for $i=1; $i<=$total; $i++}
					   <a href="javascript:void(0)" hidefocus="true" target="_self"><i>{$i}</i></a>
					{/for}
				</div>  
				</div>  
				<span class="prev"></span>   
				<span class="next"></span>    
			</div>  
			<script type="text/javascript">
				Qfast.add('widgets', { path: "{STATIC_URL}js/terminator2.2.min.js", type: "js", requires: ['fx'] });  
				Qfast(false, 'widgets', function () {
					K.tabs({
						id: 'jiaodian',     //焦点图包裹id  
						conId: 'fpic',      //大图域包裹id  
						tabId: 'd1fbt',  
						tabTn: 'a',
						conCn: '.fcon',    //大图域配置class       
						auto: 1,           //自动播放 1或0
						effect: 'fade',    //效果配置
						eType: 'click',    //鼠标事件
						pageBt: true,      //是否有按钮切换页码 
                        bns: ['.prev', '.next'], //前后按钮配置class						
						interval: 3000     //停顿时间  
					}) 
				})  
			</script>
			<!-- 焦点图 结束 -->
				<div class="clearfix"></div>
			  <div class="left_bottom">
		        	<h2><a href="#" target="_blank">更多>></a><span>TAG标签</span></h2>
					<div class="new_ct">
                    <ul>
					{m:tag field="id,tag,total" limit="20"}
					{loop $data $v}
					   <li><a href="{U('search/index/tag',array('id'=>$v['id']))}" target="_blank">{$v[tag]}</a></li>	
					{/loop}						
					</ul>
					</div>
		      </div>			  
		  </div>		  
		  <div class="center pad_0">
			  <div class="center_top">
			  
				<strong class="top_title">特别推荐</strong>
				<ul>
				  <!-- 这里只做演示，选择modelid为1的特荐信息，您可以根据自己的需求进行更改 -->
				  {m:lists field="title,inputtime,url" modelid="1" flag="3" limit="5"}
				   {loop $data $v}
				   <li>-<span>{date('m-d',$v['inputtime'])}</span><a href="{$v[url]}" title="{$v[title]}">{str_cut($v['title'], 75)}</a></li>
				  {/loop}
                </ul>
		      </div>
			  <div class="center_bottom new_list">
			    <strong class="top_title top_bor">最近更新</strong>
				<ul>
				   <!-- 这里只做演示，选择modelid为1的最近更新，您可以根据自己的需求进行更改 -->
				  {m:lists field="title,url" modelid="1" limit="10"}
				   {loop $data $v}
				   <li>-<a href="{$v[url]}" title="{$v[title]}">{str_cut($v['title'], 75)}</a></li>
				  {/loop}		 
				</ul>
		
		      </div>		
		  </div>
		  <div class="right">
			  <div class="right_top">
		         <h2 class="ind_bt"><a target="_blank" href="http://www.yzmcms.com/" class="gengduo">更多>></a>站点介绍</h2>
                  <a href="http://www.yzmcms.com/" target="_blank"><img src="{STATIC_URL}images/default.jpg"></a>	
				  <a href="http://www.yzmcms.com/" target="_blank" class="ptitle">本站为YzmCMS的演示站点</a>
                  <p class="pic_p">YzmCMS采用OOP（面向对象）方式自主开发的框架。框架易扩展，是一款高效开源的内容管理系统，产品基于PHP+Mysql架构...<a href="http://www.yzmcms.com/" target="_blank">[详细]</a></p>
		      </div>
			  <div class="right_bottom">
                  <p class="pic_p">YzmCMS是一款轻量级开源的内容管理系统，采用OOP方式自主开发的框架（YZMPHP）。系统易扩展，是一款高效开源的内容管理系统，产品基于PHP+Mysql架构，可运行在Linux、Windows、MacOSX、Solaris等各种平台上。<a href="http://blog.yzmcms.com/guanyu/" target="_blank">[详细]</a></p>
				  <!-- 
				   page_content (单页面标签)：用于在首页或频道页调取单页的简介
				   标签用法：{   page_content(catid, 限制字数)  }
				  -->
		      </div>		
		  </div>		  
		</div>
         <div class="clearfix"></div>
         <div class="guanggao">
		  <!-- 自定义广告位：更改这里，请登录后台->系统管理->自定义配置 -->
		  <h1>{$site[advertise]}</h1>
		 </div>
		<div class="box">
			<div class="left">
              <div class="guanzhubox">
                 <h2 class="ind_bt"><a href="#" class="gengduo">更多>></a>栏目分类一</h2>
		      </div>
			  <div class="list_news">
					<ul>
					<!-- 这里只做演示，您可以根据自己的需求更改catid和其他参数 -->
					{m:lists field="title,url" catid="1" limit="11"}
					{loop $data $v}
					   <li><a href="{$v[url]}" title="{$v[title]}" target="_blank">{$v[title]}</a></li>	
					{/loop}					 
				    </ul>            
		      </div>
			</div>
		  <div class="center">
              <h2 class="ind_bt"><a href="#" class="gengduo">更多>></a>栏目分类二</h2>
			  <div class="center_bottom">
				<ul>
					<!-- 这里只做演示，您可以根据自己的需求更改catid和其他参数 -->
					{m:lists field="title,url" catid="2" limit="11"}
					{loop $data $v}
					   <li>-<a href="{$v[url]}" title="{$v[title]}" target="_blank">{$v[title]}</a></li>	
					{/loop}	
				</ul>
		
		      </div>		
		  </div>
		  <div class="right">
			  <div class="guanzhubox">
                 <h2 class="ind_bt"><a href="#"  class="gengduo">更多>></a>栏目分类三</h2>
		      </div>
			  <div class="list_news">
					<ul>
					<!-- 这里只做演示，您可以根据自己的需求更改catid和其他参数 -->
					{m:lists field="title,url" catid="3" limit="11"}
					{loop $data $v}
					   <li><a href="{$v[url]}" title="{$v[title]}" target="_blank">{$v[title]}</a></li>	
					{/loop}						 
				</ul>            
		      </div>		
		  </div>		  
		</div>		
         <div class="clearfix"></div>		 
         <div class="news_img">
		   <h2 class="ind_bt tit_img"><a  href="#" target="_blank" class="gengduo">更多>></a>图文资讯</h2>
			  <div class="w185_imgnews">
 				<ul>
				   {m:lists field="title,thumb,url" modelid="1" thumb="1" limit="5"}
				   {loop $data $k=>$v}
				   <li{if $k==4} class="m_r0"{/if}><a href="{$v[url]}"><img src="{$v[thumb]}" alt="{$v[title]}" title="{$v[title]}"><em>{str_cut($v['title'], 45)}</em></a></li>
				   {/loop}										
				</ul>               
		      </div>		 
		 </div>		 
         <div class="clearfix"></div>		 
		<!--友情链接-->
		<div id="links">
			<p>友情链接  <a href="{U('link/index/init')}">申请友链</a></p>
			 <ul>
			{m:link field="url,logo,name" limit="20"}
			{loop $data $v}
			   <li><a href="{$v[url]}" target="_blank">{$v[name]}</a></li>	
			{/loop}			   
			 </ul>
		</div>

{m:include "index","footer"}