<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>{$seo_title}</title>
	  <meta name="author" content="YzmCMS内容管理系统">
	  <meta name="keywords" content="{$keywords}" />
	  <meta name="description" content="{$description}" />
	  <link href="{STATIC_URL}css/yzm-common.css" rel="stylesheet" type="text/css" />
	  <link href="{STATIC_URL}css/yzm-style.css" rel="stylesheet" type="text/css" />
	  <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}js/yzm-front.js"></script>
  </head>
  <body>
	     {m:include "index","header"} 
		 <div class="yzm-content-box yzm-main-left yzm-text-list">
		 		<div class="yzm-title">
		 			<h2>{get_catname($catid)}</h2>
		 		</div>
		 	    <ul>
		 		{m:lists field="title,updatetime,url,color,flag" catid="$catid" limit="20" page="page"}
		 		{loop $data $v}
		 		   <li>
		 		   	<span class="yzm-date">{date('Y-m-d', $v['updatetime'])}</span>
		 		   	<a href="{$v[url]}" title="{$v[title]}" target="_blank">
		 		   		{if strstr($v['flag'],'1')}<em class="yzm-flag">顶</em>{/if}
		 		   		{title_color($v['title'], $v['color'])}
		 		    </a>
		 		   </li>		
		 		{/loop}						
		 		</ul>
				<div id="page">{$pages}</div>
		  </div>
		  
		 <div class="yzm-main-right">	
		 	<div class="yzm-content-box">
				<div class="yzm-title">
		 			<h2>点击排行</h2>
		 		</div>
		 	    <ul class="yzm-ranking">
		 			{m:hits field="title,url,color,inputtime" catid="$catid" limit="10" cache="3600"}
					{loop $data $k=>$v}
					{php $k=$k+1;}
					   <li><em>{$k}</em><span class="date">{date('m-d',$v['inputtime'])}</span><a href="{$v[url]}" title="{$v[title]}" target="_blank">{title_color($v['title'], $v['color'])}</a></li>	
					{/loop}						
		 		</ul>		 		
		 	</div>		
		 	<div class="yzm-line"></div>
	 	 	<div class="yzm-content-box">
	 			<div class="yzm-title">
	 	 			<h2>热门标签</h2>
	 	 		</div>
			    <ul class="yzm-tag-list">
				{m:tag field="id,tag,total" catid="$catid" limit="30"}
				{loop $data $v}
				   <li><a href="{tag_url($v['id'])}" target="_blank">{$v[tag]}({$v[total]})</a></li>	
				{/loop}						
				</ul>		 		
	 	 	</div>	
						 
		 </div>		  	
 		{m:include "index","footer"} 