<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>{$seo_title}</title>
	  <link href="{STATIC_URL}css/yzm-common.css" rel="stylesheet" type="text/css" />
	  <link href="{STATIC_URL}css/yzm-style.css" rel="stylesheet" type="text/css" />
	  <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}js/yzm-front.js"></script>
	  <meta name="keywords" content="{$keywords}" />
	  <meta name="description" content="{$description}" />
  </head>
  <body>
	    {m:include "index","header"} 
		 <div class="yzm-content-box yzm-main-left yzm-news-list">
		 		<div class="yzm-title">
		 			<h2>“{$q}” 的搜索结果，共<span>{$total}</span>条</h2>
		 		</div>

		 		{loop $search_data $v}
		 		{php $v['title'] = preg_replace("/$q/i", "<span style='color:red;'>$q</span>", $v['title']);}
				{php $v['description'] = preg_replace("/$q/i", "<span style='color:red;'>$q</span>", $v['description']);}
		 		<div class="yzm-news">
		 			<a href="{$v[url]}" class="yzm-news-img">
		 				<img src="{get_thumb($v['thumb'])}" alt="{$v[title]}" title="{$v[title]}" />
		 			</a>
		 			<div class="yzm-news-right">
		 				{if strstr($v['flag'],'1')}<em>顶</em>{/if} <!-- 内容属性 -->
		 				<a href="{$v[url]}">{title_color($v['title'], $v['color'])}</a>
		 				<p>{$v[description]}</p>
		 				<div class="yzm-news-tags">
		 					{php $aid = $v['id'];}
 							{m:get sql="SELECT id,tag FROM yzmcms_tag_content AS a LEFT JOIN yzmcms_tag AS b ON a.tagid=b.id WHERE aid=$aid" limit="5" return="tag_data"}
 							{loop $tag_data $val}	
 							<a href="{tag_url($val['id'])}" target="_blank" >{$val[tag]}</a>
 							{/loop}
		 				</div>
		 			</div>
		 		</div>		
		 		{/loop}						

				<div id="page">{$pages}</div>
		  </div>
		  
		 <div class="yzm-main-right">	
		 	<div class="yzm-content-box">
				<div class="yzm-title">
		 			<h2>点击排行</h2>
		 		</div>
		 	    <ul class="yzm-ranking">
		 			{m:hits field="title,url,color,inputtime" modelid="1" limit="10"}
					{loop $data $k=>$v}
					{php $k=$k+1;}
					   <li><em>{$k}</em><span class="date">{date('m-d',$v['inputtime'])}</span><a href="{$v[url]}" title="{$v[title]}" target="_blank">{title_color($v['title'], $v['color'])}</a></li>	
					{/loop}						
		 		</ul>		 		
		 	</div>	
 		 	<div class="yzm-line"></div>
		 	<div class="yzm-content-box">
				<div class="yzm-title">
		 			<h2>最近更新</h2>
		 		</div>
		 	    <ul class="yzm-like-list">
		 			{m:lists field="title,url,color,inputtime" modelid="1" limit="10"}
					{loop $data $v}
					   <li><span class="date">{date('m-d',$v['inputtime'])}</span><a href="{$v[url]}" title="{$v[title]}" target="_blank">{title_color($v['title'], $v['color'])}</a></li>	
					{/loop}						
		 		</ul>		 		
		 	</div>	
 		 	<div class="yzm-line"></div>
 		 	<div class="yzm-list-advertise">
 		 		<a href="http://www.yzmcms.com" target="_blank">
 		 		<p>PC+WAP+微信三站合一</p>
 		 		<p class="yzm-ad">YzmCMS开源CMS</p>
 		 		</a>
 		 	</div>
						 
		 </div>			  	
 		{m:include "index","footer"} 