<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>{$seo_title}</title>
	  <meta name="keywords" content="{$keywords}" />
	  <meta name="description" content="{$description}" />
	  <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}js/js.js"></script>
	  <script type="text/javascript" src="{STATIC_URL}js/jquery.qqFace.js"></script>	  
	  <script type="text/javascript" src="{STATIC_URL}js/images.js"></script>	  
	  <link href="{STATIC_URL}css/default_common.css" rel="stylesheet" type="text/css" />
	  <link href="{STATIC_URL}css/default_style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
	{m:include "index","header"} 
		   <div class="main_left show_pro">
            <div class="ind_bt col46">{get_location($catid)}</div>
            <div class="abstract">
			  <img src="{if !empty($thumb)}{$thumb}{else}{STATIC_URL}images/nopic.jpg{/if}" title="{$title}" alt="{$title}" class="pro_img">
			  <h1>{$title}</h1>
				<span class="block pro_rmb">￥{$price}元 / {$unit}</span>
				<span class="block pro_kc">库存：{$stock}个</span>
				<span class="block pro_kc">品牌：{$brand}</span>
				<span class="block pro_kc">型号：{$standard}</span>
				<span class="block pro_kc">产地：{$yieldly}</span>
			</div>
			<div class="clearfix"></div>
			<p class="xiang">产品图集</p>
			{php $pictures = string2array($pictures);}
			<div class="image" id="bigpics">
			<!-- 获取产品图集第一张的图片地址 -->
			<img src="{if !isset($pictures[0])}{STATIC_URL}images/nopic.jpg{else}{$pictures[0][url]}{/if}" />
			</div> 
			<div class="switch">
				<div class="icon1"><a href="javascript:;" title="上一个" onfocus="this.blur();">上一个</a></div>
				<div class="switch_center" id="pics">
					<ul>
						{loop $pictures $v}
						<li><a href="javascript:;"><img src="{$v[url]}" alt="{$v[alt]}" title="{$v[alt]}"></a></li>
						{/loop}
					</ul>
			    </div>
				<div class="icon2"><a href="javascript:;" title="下一个" onfocus="this.blur();">下一个</a></div>
			</div>			

			<div class="clearfix"></div>
			<p class="xiang">详细信息</p>
            <div class="content">
			  {$content}
			</div>	

			<!-- 评论区 开始 -->
			<h3 class="ind_bt">评论区</h3>
			<div class="comment">
				<div class="com_form">
				<form action="{U('comment/index/init')}" method="post"  onsubmit="return check_comm(this)">
				<input type="hidden" name="modelid" value="{$modelid}">
				<input type="hidden" name="catid" value="{$catid}">
				<input type="hidden" name="id" value="{$id}">
				<input type="hidden" name="title" value="{$title}">
				<input type="hidden" name="url" value="{$url}">
				<textarea class="textarea" id="content" name="content" placeholder="我来说两句~"></textarea>
				<p><input type="submit" class="sub_btn" name="dosubmit" value="提交"><span class="emotion">表情</span></p>
				</form>
				</div>
			</div>
			<div class="comment_list">
				{m:comment_list modelid="$modelid" catid="$catid" id="$id" limit="20"}
				<div class="comment_list_top">共{count($data)}条评论</div>
				<div class="comment_list_body">
				<ul>
					{loop $data $v}
					<li>
						<a class="user_pic" href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="blank"><img src="{if !empty($v['userpic'])}{$v[userpic]}{else}{STATIC_URL}images/default.gif{/if}" height="35" width="35"></a>
						<div class="comm_right">
							<a class="user_name" href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="blank">{$v[username]}</a>
							<p>{nl2br($v['content'])}</p>
							<p><span class="comm_time">{date('Y-m-d H:i:s',$v['inputtime'])}</span> <a href="javascript:toreply('{$v[id]}');" class="comm_a">回复</a></p>
							<div id="rep_{$v[id]}" class="none">
							<form action="{U('comment/index/init')}" method="post"  onsubmit="return check_rep(this)">
							<input type="hidden" name="modelid" value="{$modelid}">
							<input type="hidden" name="catid" value="{$catid}">
							<input type="hidden" name="id" value="{$id}">
							<input type="hidden" name="title" value="{$title}">
							<input type="hidden" name="url" value="{$url}">
							<input type="hidden" name="reply" value="{$v[id]}">
							<input type="hidden" name="reply_to" value="{$v[username]}">
							<textarea name="content" class="textarea textarea2" placeholder="我来说两句~"></textarea>
							<input type="submit" class="sub_btn static" name="dosubmit" value="提交">
							</form>
							</div>
						</div>
					</li>
					{/loop}
					{if empty($data)}<li>这篇文章还没有收到评论，赶紧来抢沙发吧~</li>{/if}
				</ul>
				</div>
			</div> 			
			<!-- 评论区 结束 -->			
			
		  </div>
		 <div class="main_right">              
			<h2 class="ind_bt">随机推荐</h2>
			{m:lists field="title,url,thumb" modelid="$modelid" limit="5" order="RAND()"}
			{loop $data $v}	
			<div class="img_text"><a href="{$v[url]}"><img src="{if !empty($v['thumb'])}{$v[thumb]}{else}{STATIC_URL}images/nopic.jpg{/if}" alt="{$v[title]}"></a><a href="{$v[url]}">{str_cut($v['title'], 81)}</a></div>
			{/loop}	
			  
			<h2 class="ind_bt mt_20 pl_10">评论排行榜</h2>
			<div class="l_list">
			<ul>
			{m:comment_ranking  modelid="2" limit="10"}
			{loop $data $v}	
			<li><a href="{$v[url]}" title="{$v[title]}">{str_cut($v['title'], 63)}</a></li>
			{/loop}
			</ul>
			</div>			  
		 </div>	
<script type="text/javascript">
$(function(){
	$('.emotion').qqFace({
		path:'{STATIC_URL}images/face/'	
	});
});
</script>		 
 {m:include "index","footer"} 